/*
* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	background-color: orange;
	justify-content: space-between;
	height: 100px;
}
#brand {
	display: flex;
	align-items: center;

}

#logo {
	font-size: 2rem;
	margin-left: 20px;
}

#brand-name {
	margin-left: 10px;
}

#links-container {
	display: flex;
	align-items: center;
}

a {
	font-size: 25px;
	margin: 0px 20px;
}

main {
	display: flex; 
	background-color: lightyellow;
	text-align: center;
	height: 830px;
}

#side-nav {
	display: flex;
	flex-direction: column;
	background-color: yellow;
	width: 220px;
	align-items: center;



}	

.side-nav-links {
	margin: 10px;
}

#main-content {
	width: 90vw;
}
#menu-a {
	margin: 20px;
	display: flex;
	justify-content: space-around;


}

h1 {
	margin-top: 10px;
}

img {
	height: 200px;
	width: 250px;
}
#menu-b {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 20px;
}

footer {
	display: flex;
	justify-content: center;
	background-color: orange;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;

	
}
*/




* {
	margin: 0;
	padding: 0;

}


nav {
	background-color: orange;
	height: 10vh;
	display: flex;
	justify-content: space-between;
}

#brand {
	display: flex;
	align-items: center;
}

#logo {
	margin-left: 20px;
	font-size: 30px;
}

#brand-name {
	margin-left: 10px;
	align-items: center;
}

#links-container {
	display: flex;
	align-items: center;
	font-size: 25px;
}

a {
	margin: 20px;
	text-decoration: none;
}

main {
	background-color: lightyellow;
	display: flex;
	text-align: center;

}

#side-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	padding-left: 25px;
	background-color: yellow;
}


#main-content {
	/*display: flex;
	align-items: center;*/
	background-color: lightyellow;
	/*width: 3600px;
	height: 800px;*/
	width: 90vw;
	height: 85vh;
}

h1 {
	margin: 10px;
	/*display: flex;
	justify-content: center;
	margin-top: 10px;*/
	text-align: center;
}

#menu-a {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

img {
	width: 300px;
	height: 200px;
}

#menu-b {
	display: flex;
	justify-content: space-around;
}
footer {
	text-align: center;
	background-color: orange;
	height: 5vh;
	font-size: 25px;
	align-items: center;
}
































